<div class="px-0">
  <div class="px-3 py-1 bg-warning">
    <footer class="px-md-5 mt-5">
      <div class="row px-md-5 pb-3">
        <div class="col-3">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="../../../assets/logo.png" class="text-white" width="140" >
          </a>
        </div>
        <div class="col-6 text-dark">
          <p class="fw-bold my-0">Alerte commerciale</p>
          <p class="h7 mb-2">Inscrivez-vous à nos communications pour recevoir nos meilleures offres!</p>
          <form class="row">
            <div class="col-7 col-md-6">
              <input class="form-control " placeholder="Entrer votre adresse e-mail" type="email">
            </div>
            <button type="submit" class="btn btn-outline-dark col-4">S'abonner</button>
          </form>
        </div>
        <div class="col-3">
          <p class="fw-bold my-0">AFREESHOP MOBILE!</p>
          <p class="h7 mb-2">Télécharger notre application gratuite</p>
          <button type="submit" class="btn btn-outline-light"><i class="bi bi-apple"></i></button>
          <button type="submit" class="btn btn-outline-light ms-2"><i class="bi bi-android2"></i></button>
        </div>
      </div>
    </footer>
  </div>
  <div class="px-md-2 py-1 bg-dark-subtle">
    <footer class="px-md-5 mt-5">
      <div class="row px-4 px-md-5">
        <div class="col-4">
          <p class="fw-bold my-0 mb-2 h6">SERVICE CLIENT</p>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="text-decoration-none p-0 text-dark h7">Aide & FAQ</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Nous contacter</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Acheter sur AfreeShop</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Livraisons</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Paiement</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Politique de retour</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Signaler un Produit</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Politique de Résolution des Litiges</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">AfreeShop Entreprise</a>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <p class="fw-bold my-0 mb-2 h6">A PROPOS</p>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Qui sommes-nous</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Carrières</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Conditions Générales d'utilisation</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Politique de Retours et de Remboursements</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Notification sur la Confidentialité</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Notifications sur les cookies de Jumia</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Nos Boutiques Officielles</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Propriété intellectuelle</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Ventes Flash</a>
            </li>
          </ul>
        </div>
        <div class="col-4 text-dark">
          <p class="fw-bold my-0 mb-2 h6">GAGNEZ DE L'ARGENT</p>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Vendez sur AfreeShop</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Affiliation - Gagnez de l'argent !</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Devenez consultant Jumia</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Devenez un partenaire logistique de Jumia</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Devenez influenceur Jumia</a>
            </li>
            <li class="nav-item">
              <a class="h7 text-decoration-none p-0 text-dark">Devenez livreur Jumia</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row px-4 px-md-5 pb-5 mt-2">
        <div class="col-4">
          <p class="fw-bold my-3 h6">RETROUVEZ-NOUS SUR</p>
          <a class="pe-2"><i class="bi bi-facebook h5 text-dark"></i></a>
          <a class="px-2"><i class="bi bi-twitter h5 text-dark"></i></a>
          <a class="px-2"><i class="bi bi-instagram h5 text-dark"></i></a>
        </div>
        <div class="col-4">
          <p class="fw-bold my-3 h6">MODE DE PAIMENT</p>
          <a class="pe-2"><i class="bi bi-credit-card-fill h5 text-dark"></i></a>
          <a class="px-2"><i class="bi bi-paypal h5 text-dark"></i></a>
          <a class="px-2"><i class="bi bi-wallet2 h5 text-dark"></i></a>
        </div>
      </div>
    </footer>
  </div>
</div>
