<div>
  <div class="d-flex justify-content-center align-items-center header-home bg-dark p-5">
    <a class="h-100 w-100" href="#"></a>
  </div>

  <div class="container-home">
    <div class="px-4 mx-5 pt-1">
      <!--      this section is for hot tandance-->
      <div>
        <!--      hot-tandance-lg-->
        <div class="row col-12 mx-auto hot-tandance-container">
          <div class="col-sm-2 p-0 h-100">
            <ul id="category-container" class="nav px-2 flex-column d-flex justify-content-around shadow rounded bg-white px-2 h-100">
              <li *ngFor="let category of categorys" class="nav-item">
                <a class="nav-link text-black fw-bolder p-0 d-flex align-items-center" [routerLink]="['/categories']">
                  <i [ngClass]="'h5 mb-0 bi bi-'+ category.icon"></i>
                  <span class="fw-light fs-6 ms-2 py-0">{{ category.title }}</span>
                </a>
              </li>
              <li class="nav-item">
                <p class="nav-link text-black fw-bolder p-0 mb-0 d-flex align-items-center">
                  <i [ngClass]="'h5 mb-0 bi bi-chat-quote'"></i>
                  <span class="fw-light ms-2">Autres catégories</span>
                </p>
              </li>
            </ul>
          </div>
          <div class="col-sm-8 h-100">
            <div id="carouselExampleCaptions" class="carousel slide shadow rounded bg-white h-100">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner h-100 rounded" id="carousel-container">
                <div class="carousel-item active h-100">
                  <img id="carousel-item-1" src="https://izideals.sn/images-property/ed639fa61c1a88741afcecac102fd354fc18171c-Q1MZHS.jpg" class="w-100 carousel-item-img rounded" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img id="carousel-item-2" src="https://cdn-europe1.lanmedia.fr/var/europe1/storage/images/europe1/medias-tele/la-nouvelle-strategie-de-la-plateforme-de-streaming-mycanal-va-rejouir-les-cinephiles-3991761/56001855-1-fre-FR/La-nouvelle-strategie-de-la-plateforme-de-streaming-myCanal-va-rejouir-les-cinephiles.png" class="w-100 carousel-item-img rounded" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <img id="carousel-item-3" src="https://izideals.sn/images-property/ed639fa61c1a88741afcecac102fd354fc18171c-Q1MZHS.jpg" class="w-100 carousel-item-img rounded" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-sm-2 px-0 h-100">
            <div class="col-xl-12 px-0 h-50">
              <div class="card border-0 text-bg-info h-100">
                <div class="card-body row py-1">
                  <div class="col-3 px-1">
                    <i class="bi bi-person-circle h1"></i>
                  </div>
                  <div class="col-9 pe-0">
                    <p class="card-text mb-0">Salut, utilisateur</p>
                  </div>
                </div>
                <a class="btn btn-primary py-1 mx-2 ">S'inscrire </a>
                <a class="btn btn-light text-primary py-1 mx-2 my-2 ">Connexion</a>
              </div>
            </div>
            <div class="col-xl-12 px-0 h-50 pt-2">
              <div class="card border-0 text-bg-warning h-100 ">
                <div class="card-body row h-auto py-1">
                  <p class="card-text mb-0">Récuperer votre commande en Boutique ou dans un de nos points de relait <i class="bi bi-geo"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--      hot tandance-md-xs-->
        <div class="row col-12 mx-0 d-flex d-md-none d-lg-none">
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" class="ps-4 text-secondary"><i class="bi bi-search mx-2"></i> Rechercher un produit</label>
          </div>
          <ul class="nav nav-pills my-3">
            <li class="nav-item ps-2">
              <a class="nav-link bg-body shadow text-primary" aria-current="page" href="#"><i class="bi bi-grid-1x2-fill me-1"></i>Catégories</a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link bg-body shadow text-primary" href="#">Vetement</a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link bg-body shadow text-primary" href="#">Electronic</a>
            </li>
          </ul>
          <div class="col-sm-12 row px-0 mx-0">
            <div class="col-sm-12 p-5" style="background-image: url('https://izideals.sn/images-property/ed639fa61c1a88741afcecac102fd354fc18171c-Q1MZHS.jpg'); background-size: cover">
              <div class="p-3 bg-light bg-opacity-50 rounded shadow col-9">
                <h3 class="fw-light">Dernière tendances</h3>
                <h2 class="fw-bold">Iphone 13 </h2>
                <a class="btn btn-light text-primary shadow">Savoir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--    this section is for deal and offert-->
      <div class="row col-12 mx-auto p-3 rounded border bg-white mt-4">
        <div class="col-md-3 pt-2 row">
          <h3 class="col col-md-12 text-nowrap">Top Annonces</h3>
          <div class="text-end text-md-center mt-md-0 col">
            <button class="btn btn-link text-dark px-1 py-0" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev"><i class="bi bi-chevron-left fw-bold h1"></i></button>
            <button class="btn btn-link text-dark px-1 py-0" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next"><i class="bi bi-chevron-right fw-bolder h1"></i></button>
          </div>
        </div>
        <div class="col-md-9 ms-0">
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner d-none d-md-block">
              <div class="carousel-item active" data-bs-interval="5000">
                <div class="card-group">
                  <div class="card">
                    <img src="https://www.lascom.com/wp-content/uploads/2021/03/Bland_Cosmetic_Product_Packaging_Unit_500x400.jpg" class="card-img-top " alt="..." style="object-fit: cover; height: 160px">
                    <div class="card-body py-2 px-2">
                      <p class="card-text py-0 mb-1 product-title">Créme a cheveux</p>
                      <h5 class="card-title mb-1">10000 Fcfa</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="card-img-top" alt="..." style="object-fit: cover; height: 160px">
                    <div class="card-body py-2">
                      <p class="card-text py-0 mb-1 product-title">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                      <h5 class="card-title mb-0">10000 Fcfa</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="https://www.ts-sitemarket.com/images/imagecache/440x440/jpg/Gamme-De-Beaute-Super-Eclaircissant-INFINI-CLEAR-Cos-Gam.jpg" class="card-img-top" alt="..." style="object-fit: cover; height: 160px">
                    <div class="card-body py-2">
                      <p class="card-text py-0 mb-1 product-title">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                      <h5 class="card-title mb-0">10000 Fcfa</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="https://www.lascom.com/wp-content/uploads/2021/03/Bland_Cosmetic_Product_Packaging_Unit_500x400.jpg" class="card-img-top " alt="..." style="object-fit: cover; height: 160px">
                    <div class="card-body py-2">
                      <p class="card-text py-0 mb-1 product-title">Familia 2020</p>
                      <h5 class="card-title mb-0 ">10000 Fcfa</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="card-group">
                  <div class="card">
                    <img src="https://www.lascom.com/wp-content/uploads/2021/03/Bland_Cosmetic_Product_Packaging_Unit_500x400.jpg" class="card-img-top " alt="..." style="object-fit: cover; height: 160px">
                    <div class="card-body py-2 px-2">
                      <p class="card-text py-0 mb-1 product-title">Créme a cheveux</p>
                      <h5 class="card-title mb-1">10000 Fcfa</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="card-img-top" alt="..." style="object-fit: cover; height: 160px">
                    <div class="card-body py-2">
                      <p class="card-text py-0 mb-1 product-title">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                      <h5 class="card-title mb-0">10000 Fcfa</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="https://www.ts-sitemarket.com/images/imagecache/440x440/jpg/Gamme-De-Beaute-Super-Eclaircissant-INFINI-CLEAR-Cos-Gam.jpg" class="card-img-top" alt="..." style="object-fit: cover; height: 160px">
                    <div class="card-body py-2">
                      <p class="card-text py-0 mb-1 product-title">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                      <h5 class="card-title mb-0">10000 Fcfa</h5>
                    </div>
                  </div>
                  <div class="card">
                    <img src="https://www.lascom.com/wp-content/uploads/2021/03/Bland_Cosmetic_Product_Packaging_Unit_500x400.jpg" class="card-img-top " alt="..." style="object-fit: cover; height: 160px">
                    <div class="card-body py-2">
                      <p class="card-text py-0 mb-1 product-title">Familia 2020</p>
                      <h5 class="card-title mb-0 ">10000 Fcfa</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--    this section is for hot category-->
      <div class="row col-12 mx-0 p-0 ">
        <div class="col-md-4 mt-4 ps-0 pe-0 pe-md-1">
          <div class="p-3 py-2 rounded border bg-white h-100">
            <h6 class="col col-md-12 text-nowrap">Nouveauté</h6>
            <div class="row col-md-12 mx-auto">
              <div class="card col me-2 px-0 border-0">
                <img src="https://www.lascom.com/wp-content/uploads/2021/03/Bland_Cosmetic_Product_Packaging_Unit_500x400.jpg" class="card-img-top rounded" alt="..." style="object-fit: cover; height: 120px">
                <div class="card-body py-2 px-2">
                  <p class="card-text py-0 mb-1 product-title h7">Créme a cheveux</p>
                  <h6 class="card-title mb-1 h6">10000 <span class="h7">Fcfa</span></h6>
                </div>
              </div>
              <div class="card col px-0 border-0">
                <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="card-img-top rounded" alt="..." style="object-fit: cover; height: 120px">
                <div class="card-body py-2">
                  <p class="card-text py-0 mb-1 product-title h7">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                  <h6 class="card-title mb-0">10000 <span class="h7">Fcfa</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4 px-0 px-md-2">
          <div class="p-3 py-2 rounded border bg-white h-100">
            <h6 class="col col-md-12 text-nowrap">Populaire(s)</h6>
            <div class="row col-md-12 mx-auto">
              <div class="card col me-2 px-0 border-0">
                <img src="https://www.lascom.com/wp-content/uploads/2021/03/Bland_Cosmetic_Product_Packaging_Unit_500x400.jpg" class="card-img-top rounded" alt="..." style="object-fit: cover; height: 120px">
                <div class="card-body py-2 px-2">
                  <p class="card-text py-0 mb-1 product-title h7">Créme a cheveux</p>
                  <h6 class="card-title mb-1 h6">10000 <span class="h7">Fcfa</span></h6>
                </div>
              </div>
              <div class="card col px-0 border-0">
                <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="card-img-top rounded" alt="..." style="object-fit: cover; height: 120px">
                <div class="card-body py-2">
                  <p class="card-text py-0 mb-1 product-title h7">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                  <h6 class="card-title mb-0">10000 <span class="h7">Fcfa</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4 pe-0 ps-0 ps-md-1">
          <div class="p-3 py-2 rounded border bg-white h-100">
            <h6 class="col col-md-12 text-nowrap">Véhicule(s)</h6>
            <div class="row col-md-12 mx-auto">
              <div class="card col me-2 px-0 border-0">
                <img src="https://www.lascom.com/wp-content/uploads/2021/03/Bland_Cosmetic_Product_Packaging_Unit_500x400.jpg" class="card-img-top rounded" alt="..." style="object-fit: cover; height: 120px">
                <div class="card-body py-2 px-2">
                  <p class="card-text py-0 mb-1 product-title h7">Créme a cheveux</p>
                  <h6 class="card-title mb-1 h6">10000 <span class="h7">Fcfa</span></h6>
                </div>
              </div>
              <div class="card col px-0 border-0">
                <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="card-img-top rounded" alt="..." style="object-fit: cover; height: 120px">
                <div class="card-body py-2">
                  <p class="card-text py-0 mb-1 product-title h7">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                  <h6 class="card-title mb-0">10000 <span class="h7">Fcfa</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--    this section is for vetements-->
      <div class="row mx-auto mt-4">
        <div class="col-md-3 p-4 rounded home-clothes-bg">
          <h3 class="col-md-12 text-nowrap">Vêtements</h3>
          <div class="mt-md-3 col">
            <a class="btn btn-light shadow">Voir plus</a>
          </div>
        </div>
        <div class="col-md-9 p-0 row ms-0 card-group">
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
        </div>
      </div>

      <!--    this section is for multimedia-->
      <div class="row mx-auto mt-4">
        <div class="col-md-3 p-4 rounded home-multimedia-bg">
          <h3 class="col col-md-12 text-nowrap text-white">Multimédia</h3>
          <div class="mt-md-3 col">
            <a class="btn btn-light shadow">Voir plus</a>
          </div>
        </div>
        <div class="col-md-9 p-0 row ms-0 card-group">
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 m-0 home-clothes-items">
            <div class="card px-0 position-relative">
              <div class="card-body py-2 pb-5">
                <p class="card-text py-0 mb-1 product-title h6">Top court en velours côtelé pour femmes, manches longues, style rétro, 2020</p>
                <p class="text-muted mb-0 h7">AfreeShop <i class="bi bi-patch-check-fill text-warning"></i></p>
                <p class="text-muted mb-0 pb-2">10000 <span class="h7">Fcfa</span></p>
              </div>
              <img src="https://i0.wp.com/airetsante.wpcomstaging.com/wp-content/uploads/2019/05/21361.jpeg?resize=457%2C406&ssl=1" class="position-absolute bottom-0 end-0 mb-2 me-2 rounded" alt="..." style="object-fit: cover; height: 80px">
            </div>
          </div>
        </div>
      </div>

      <!--    this section is for request to all suppliers-->
      <div class="row mx-auto text-white mt-4 rounded home-request row p-3 p-md-5">
        <div class="col-4 col-md-5 mt-2">
          <h2>Demande de devis</h2>
          <p class="">Une seule demande, plusieurs devis</p>
        </div>
        <div class="col-8 col-md-7 ps-5 mt-2">
          <div class="m-2 bg-white  rounded shadow row p-3">
            <h4 class="col-md-12 mb-3 text-dark">Envoyer une demande</h4>
            <div class="col-md-12 mb-3">
              <input class="form-control" type="text" placeholder="Qu'est-ce que vous chercher ?">
            </div>
            <div class="col-md-12 mb-3">
              <textarea class="form-control" placeholder="Plus de details sur le produit"></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <input class="form-control" type="number" placeholder="Quantité">
            </div>
            <div class="col-md-3 mb-3">
              <select class="form-control">
                <option>Pcs</option>
                <option>Kilos</option>
                <option>Litres</option>
                <option>Mètres</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!--  this sectiion is for recommended items  -->
      <div class="mt-5 home-recommendeds-items mb-4">
        <h3>Produits recommendé</h3>
        <div class="row">
          <div *ngFor="let product of productsRecommended" class="col-product mb-4">
            <a class="card text-decoration-none product-card mx-2 my-2 border-0 d-flex position-relative shadow w-100 h-100" [routerLink]="['/detail']">
              <div *ngIf="product.isSolde" class="d-flex position-absolute top-0 end-0">
                <p class="p-1 me-3 mt-2 bg-warning-subtle text-warning rounded shadow">-50%</p>
              </div>
              <img alt="..."
                   class="card-img-top rounded"
                   src="{{ product.img }}"
                   style="object-fit: cover; height: 225px">
              <div class="card-body pt-2 pb-0 px-3 text-dark">
                <p class="card-text py-0 mb-2 text-truncate fw-normal">{{ product.nom }}</p>
                <div *ngIf="!product.isSolde">
                  <h6 class="card-title mb-0 h6">{{ product.oldPrice }} <span class="h7">Fcfa</span></h6>
                </div>
                <div *ngIf="product.isSolde">
                  <h6 class="card-title mb-1 h5">{{ product.newPrice }} <span class="h7">Fcfa</span></h6>
                  <h6 class="card-title mb-0 h7 text-muted text-decoration-line-through">{{ product.oldPrice }} <span
                    class="h7">Fcfa</span></h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
