<nav class="navbar navbar-expand-lg px-3 py-2">
  <div class="container-fluid p-0">
    <button aria-controls="offcanvasNavbarCat" class="navbar-toggler border-0" data-bs-target="#offcanvasNavbarCat"
            data-bs-toggle="offcanvas" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="text-main text-decoration-none" [routerLink]="['/']">
<!--      <img class="" src="../../../assets/logo.png" width="110">-->
      <span class="h3 mb-0">AfreeShop</span>.com
    </a>
    <div class="dropdown mb-0 ms-4 d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-list-task fs-5 fw-light pe-1 "></i>
      <span class="">Categorie</span>
      <i class="bi bi-chevron-down h7 text-secondary ms-2"></i>
      <ul class="dropdown-menu dropdown-menu-start" *ngIf="categoryInfos">
        <li *ngFor="let category of categoryInfos" class="px-2 mb-2">
          <a class="nav-link text-black fw-bolder p-0 d-flex align-items-center" [routerLink]="['/categories']">
            <i [ngClass]="'h5 mb-0 bi bi-'+ category.icon"></i>
            <span class="fw-light fs-6 ms-2 py-0 text-nowrap">{{ category.title }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="input-group px-5 mx-2 d-none rounded-5 d-md-none d-lg-flex position-relative">
      <input aria-label="Text input with segmented dropdown button"
             class="form-control rounded-start-5 ps-4 border-main-2"
             placeholder="Qu'est-ce que vous recherchez..."
             type="text"
      >
      <button class="btn bg-main border-main-2 rounded-5 px-4 text-light position-absolute end-0" type="button"><i class="bi bi-search me-2"></i>Chercher</button>
    </div>
    <div>
      <a class="border-0 text-black me-1 d-lg-none">
        <i class="bi bi-cart3 h4"></i>
      </a>
      <button aria-controls="offcanvasDarkNavbar" class="navbar-toggler border-0" data-bs-target="#offcanvasDarkNavbar"
              data-bs-toggle="offcanvas" type="button">
        <i class="bi bi-three-dots h4"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent1">
      <ul class="navbar-nav d-flex mb-2 mb-lg-0">
        <li class="nav-item mx-1">
          <div class="dropdown">
            <a class="nav-link text-center dropdown-toggle text-dark" href="#" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill text-center mb-1 h4"></i>
            </a>
            <ul class="dropdown-menu px-2">
              <li>
                <a class="nav-link text-black fw-bolder p-0 d-flex align-items-center">
                  <i class="h5 mb-0 bi bi-person text-center mb-1 h4"></i>
                  <span class="fw-light ms-2 py-0 text-nowrap">Votre compte</span>
                </a>
              </li>
              <li>
                <a class="nav-link text-black fw-bolder p-0 d-flex align-items-center">
                  <i class="h5 mb-0 bi bi-box2 text-center mb-1 h4"></i>
                  <span class="fw-light ms-2 py-0 text-nowrap">Vos commandes</span>
                </a>
              </li>
              <li>
                <a class="nav-link text-black fw-bolder p-0 d-flex align-items-center">
                  <i class="h5 mb-0 bi bi-heart text-center mb-1 h4"></i>
                  <span class="fw-light ms-2 py-0 text-nowrap">Votre liste d'envies</span>
                </a>
              </li>
              <li>
                <a class="nav-link text-black fw-bolder p-0 d-flex align-items-center">
                  <i class="h5 mb-0 bi bi-ticket text-center mb-1 h4"></i>
                  <span class="fw-light ms-2 py-0 text-nowrap">Bon d'achat</span>
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li class="text-center">
                <a class="btn bg-warning-subtle border-main-2 p-2 text-main">Déconnexion</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mx-1">
          <div class="">
            <a class="nav-link text-center text-dark" href="#">
              <i class="bi bi-chat-left-text-fill text-center mb-1 h4"></i>
            </a>
          </div>
        </li>
        <li class="nav-item mx-1">
          <div class="">
            <a class="nav-link text-center text-dark" href="#">
              <i class="bi bi-cart3 text-center mb-1 h4"></i>
            </a>
          </div>
        </li>
      </ul>
      <div class="vr my-2 ms-2 me-3"></div>
      <div class="btn-group me-1">
        <a class="nav-link text-center dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
          Aide
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Centre d'assistance</a></li>
          <li><a class="dropdown-item" href="#">Passer et suivre ma commande</a></li>
          <li><a class="dropdown-item" href="#">Annuler ma commande</a></li>
          <li><a class="dropdown-item" href="#">Retour & Remboursement</a></li>
          <li><a class="dropdown-item" href="#">Paiement et compte AfreeShop</a></li>
          <li class="dropdown-divider"></li>
          <li>
            <div class="p-2">
              <a href="#" class="btn w-100 text-light bg-main d-flex justify-content-center align-items-center text-center">
                <i class="bi bi-chat-dots fs-4 me-2"></i>
                <span>CHAT EN DIRECT</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="mx-2">
        <a class="nav-link text-center text-nowrap text-dark" href="#">
          Vendre sur AfreeShop
        </a>
      </div>
    </div>
  </div>
  <app-header-sidebars></app-header-sidebars>
  <app-nav-sidebar></app-nav-sidebar>
</nav>
