/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.product-title {
  overflow: hidden;
  display: -webkit-box; /* Utilise un conteneur à boîte pour gérer le débordement */
  -webkit-line-clamp: 2; /* Limite le nombre de lignes à 2 */
  -webkit-box-orient: vertical; /* Fait en sorte que le conteneur soit vertical */
}

.h7 {
  font-size: 12px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f30bf5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-main {
  color: #ff7913;
}

.bg-main {
  background-color: #ff7913 !important;
}

.border-main {
  border: #ff7913 solid 1px !important;
}

.border-main-2 {
  border: solid 2px #ff7913 !important;
}
